.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.main-container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0.5rem 0.25rem;
}

.maxes-container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 0.25rem;
}

#maxes-card-container {
  max-width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.column-quarter {
  width: calc(70 / 302);
}

.column-40 {
  width: 40%;
}

.align-baseline {
  align-items: baseline;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

@media screen and (min-width: 375px) {
  .maxes-container {
    max-width: 375px;
    margin: 0 auto;
    padding: 0 0.25rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}
