body {
  font-family: Roboto, sans-serif;
}

header {
  background-color: #343a40;
  padding: 16px 0;
  color: white;
}

#bar-menu,
#back-arrow {
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 4.5px 14.07px;
  font-size: 25px;
}

#back-arrow {
  border: 2px solid #343a40;
}

header h4 {
  margin: 0.5rem auto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  padding-right: 54px;
}

p {
  line-height: 1.3;
  font-size: 18px;
}

input,
select {
  border: 1px solid #ced4da;
  box-sizing: border-box;
  border-radius: 4px;
}

input:focus,
select:focus,
button:focus {
  outline: none !important;
  border: 2px solid #10a403;
}

#data-maxes {
  margin: 14px 0;
}

#workout-maxes-title {
  margin: 24px auto;
}

.max-section-container {
  padding: 10px 0;
}

.max-section {
  width: 270px;
}

.max-section > span {
  width: 120px;
  font-weight: bold;
}

.max-section > input {
  width: 100px;
  height: 30px;
}

.max-section > select {
  width: 40px;
  height: 30px;
}

#maxes-save-button {
  line-height: 24px;
  border-radius: 4px;
  background-color: #10a403;
  color: white;
  padding: 10px 16px;
  border: none;
  font-size: 16px;
  margin-top: 24px;
}

#calc-modal,
#max-result-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(41, 41, 41, 0.75);
}

.modal-content {
  position: fixed;
  top: 205px;
  left: 50%;
  transform: translateX(-50%);
  width: 255px;
  height: 210px;
  background: #fff;
  border: 1px solid #afafaf;
  box-sizing: border-box;
  border-radius: 8px;
}

.modal-content > h3 {
  text-align: center;
  margin-top: 5px;
}

.modal-content > p {
  font-weight: bold;
  font-size: 20px;
  margin: 25px 15px;
}

.fa-times {
  display: block;
  margin: 10px 10px 0 0;
  font-size: 15px;
  text-align: right;
}

#calc-max {
  margin: 15px;
  width: 220px;
}

.calc-section {
  width: 100%;
  padding: 2px 0;
}

.section-header {
  width: 60px;
  font-weight: bold;
}

.calc-section > input {
  width: 90px;
  height: 30px;
  margin: 0 15px;
}

.calc-section > select {
  width: 40px;
  height: 30px;
}

#calculate-button,
#exit-calc-result {
  background: #10a403;
  border-radius: 50px;
  font-weight: bold;
  color: white;
  border: none;
  padding: 10px 32.5px;
  font-size: 16px;
  margin-top: 15px;
}

.maxes-container {
  border: 1px solid #afafaf;
  border-radius: 8px;
}

.maxes-container h5 {
  margin: 0.5rem auto;
  padding-left: 12px;
  font-size: 16px;
}

.maxes-container i {
  font-size: 12px;
}

.maxes-card {
  flex-basis: 24%;
  border: 1px solid #afafaf;
  box-sizing: border-box;
  border-radius: 8px;
  border-top: none;
}

#maxes-card-container {
  margin: 0.25rem auto;
}

.maxes-card button {
  background: #10a403;
  border: 1px solid #10a403;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 13px;
  color: white;
  padding: 7.4px 0;
}

.maxes-card span {
  padding: 16.8px 0;
}

.explore-container,
.measurement-container {
  border: 1px solid #afafaf;
  box-sizing: border-box;
  border-radius: 8px;
  max-width: 49.5%;
  width: 100%;
  padding: 30.6px 20px;
}

.explore-container h5,
.measurement-container h5 {
  font-size: 16px;
}
