header {
  background-color: #343a40;
  padding: 17px 0;
  color: white;
}

header span {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

p {
  line-height: 1.3;
  font-size: 18px;
}

#data-maxes {
  margin: 14px 0;
}

#workout-maxes-title {
  margin: 24px auto;
}

.max-section-container {
  padding: 10px 0;
}

.max-section {
  width: 270px;
}

.max-section > span {
  width: 115px;
  font-weight: bold;
}

.max-section > input {
  width: 100px;
  height: 30px;
}

.max-section > select {
  width: 40px;
  height: 30px;
}

#maxes-save-button {
  line-height: 24px;
  border-radius: 4px;
  background-color: #10a403;
  color: white;
  padding: 10px 16px;
  border: none;
  font-size: 16px;
  margin-top: 24px;
}
